<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="928f9d">  <td>21/06/03 23:21:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractBaseClass.setUp()[pri:0, instance:test.LoginTest@55f616cf]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@837108062</td>   <td></td> </tr>
<tr bgcolor="a2f4ec">  <td>21/06/03 23:21:32</td>   <td>12532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyPicklistValues()[pri:0, instance:test.LoginTest@55f616cf]">verifyPicklistValues</td> 
  <td>main@837108062</td>   <td></td> </tr>
</table>
